@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #d45d79;
    --secondary-color: #cf4d6c;
    --hamburger-color: white;
    --header-height: 50px;
    --hamburger-size: calc(0.24 * var(--header-height));
    --header-padding: 50px;
    --menu-width: 300px;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

header {
    background-color: var(--primary-color);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--header-padding);
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    line-height: var(--header-height);
    cursor: pointer;
}